<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>My Contacts</title>
</head>
<body>
    <div class="container">
        <h1>Your Contacts have been cleared!</h1>

        <p><a href='/'>Return to the Contact List.</a></p>
    </div>
</body>
</html>
