<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>My Contacts</title>
</head>
<body>
    <div class="container">
        <h1>New Contact Created!</h1>
            <ul class ='list-group'>
                <li class ='list-group-item active'> {{  newcontact.getName }}</li>
                <li class ='list-group-item'> {{  newcontact.getPhone }}</li>
                <li class ='list-group-item'> {{  newcontact.getAddress }}</li>
                <p><a href='/'>Return to the Contact List</a></p>
            </ul>
    </div>
</body>
</html>
