<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>My Contacts</title>
</head>
<body>
    <div class="container">
        <h1>Who Do I Know?</h1>

        {% if contacts is not empty %}
            <ul class='list-group'>
                <li class='list-group-item active'>My Contact List</li>
                {% for contact in contacts %}
                    <li class='list-group-item'><u>{{ contact.getName }}<u></li>
                        <li class='list-group-item'>{{ contact.getPhone }}</li>
                        <li class='list-group-item'>{{ contact.getAddress }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <form action='/create_contact' method='post'>
            <div class="form-group">
                <label for='fullName'>Contact Name</label>
                <input id='fullName' name='fullName' type='text' class='form-control'>
            </div>
            <div class="form-group">
                <label for='phoneNumber'>Phone Number</label>
                <input id='phoneNumber' name='phoneNumber' type='number' class='form-control'>
            </div>
            <div class="form-group">
                <label for='fullAddress'>Full Address?</label>
                <input id='fullAddress' name='fullAddress' type='text' class='form-control'>
            </div>
            <button type='submit' class='btn btn-info'>Add A Contact</button>
        </form>
        <form action='/delete_contacts' method='post'>
            <button type='submit' class='btn btn-default'>Clear Contact List</button>
        </form>
    </div>
</body>
</html>
