<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>My Contacts</title>
</head>
<body>
    <div class="container">
        <h1>New Contact Created!</h1>
        <p>{{ contact.fullName }}</p>
        <p>{{ contact.phone_number }}</p>
        <p>{{ contact.fullAddress }}</p>
        <p><a href='/'>Return to the Contact List.</a></p>
    </div>
</body>
</html>
